# Node modules
/node_modules

# Build output
/dist
/.next
/out

# Environment files
.env
.env.*.local

# DB data
/postgres

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.launch
*.code-workspace
.c9/
.classpath
.project
.settings/

# Coverage and test
/coverage
/.nyc_output

# System
.DS_Store
Thumbs.db

# IDX
/.idx
